<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link href="https://fonts.googleapis.com/css?family=Work+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">

    {% load static %}
    <link rel="stylesheet" href="{% static 'app/index.css' %}"> 

    <title>Login</title>
</head>
<body>
    <div id="jumbo" class="jumbotron jumbotron-fluid text-white">
        <div class="container">
            <h1 class="display-4" id="brand">What 2 Watch</h1>
            <p class="lead">Building a community of T.V. fans
            <br>so you always know what to watch.</p>
        </div>
    </div>        
    <div class="container mt-5 p-3">
        <div class="row">
            <div class="col-lg-6 mb-3">
                <div class="container border" id="regCon">
                    <h2 class="ml-3 my-5 text-center">New User? <span class="h5 text-muted">register below</span></h2>
                    <hr class="mb-5">
                    <form action="/create" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="control-label ml-3" for="first_name">First Name</label>
                            <div class="col-8">
                                <input type="text" class="form-control" name="first_name">
                            </div>
                        </div>
                        <div class="row">
                            <ul>
                                {% for e in errors %}
                                    {% if e.label == "first_name" %}
                                        <li>{{e.message}}</li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="form-group">
                            <label class="control-label ml-3" for="last_name">Last Name</label>
                            <div class="col-8">
                                <input type="text" class="form-control" name="last_name">
                            </div>
                        </div>
                        <div class="row">
                            <ul>
                                {% for e in errors %}
                                    {% if e.label == "last_name" %}
                                        <li>{{e.message}}</li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="form-group">
                            <label class="control-label ml-3" for="email">Email</label>
                                <div class="col-8"> 
                                    <input type="text" class="form-control" name="email">
                                </div>
                        </div>
                        <div class="row">
                            <ul>
                                {% for e in errors %}
                                    {% if e.label == "email" %}
                                        <li>{{e.message}}</li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="form-group">
                            <label class="control-label ml-3" for="pwd">Password</label>
                                <div class="col-8"> 
                                    <input type="password" class="form-control" name="password">
                                </div>
                        </div>
                        <div class="row">
                            <ul>
                                {% for e in errors %}
                                    {% if e.label == "password" %}
                                        <li>{{e.message}}</li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="form-group">
                            <label class="control-label ml-3" for="pwd">Confirm Password</label>
                                <div class="col-8"> 
                                    <input type="password" class="form-control" name="confirm">
                                </div>
                        </div>
                        <div class="row">
                            <ul>
                                {% for e in errors %}
                                    {% if e.label == "confirm" %}
                                        <li>{{e.message}}</li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="form-group"> 
                            <div class="col-sm-offset-2 col-sm-10 mb-5">
                                <button type="submit" class="btn btn-lg btn-secondary">Register</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="container border" id="logCon">
                    <h2 class="ml-3 my-5 text-center">Login</h2>
                    <hr class="mb-5">
                    <form class="form-horizontal" action="/login" method="POST">
                        {%csrf_token%}
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="email">Email</label>
                            <div class="col-8"> 
                                <input type="text" class="form-control" name="email">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="pwd">Password</label>
                            <div class="col-8"> 
                                <input type="password" class="form-control" name="password">
                            </div>
                            <div class="row">
                                <ul>
                                    {% for e in errors %}
                                        {% if e.label == "login" %}
                                            <li>{{e.message}}</li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <div class="form-group"> 
                            <div class="col-sm-offset-2 col-sm-10 mb-5">
                                <button type="submit" class="btn btn-lg btn-secondary">Login</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

</body>
</html>